
body{
  background-image:url(https://images.unsplash.com/photo-1593698054469-2bb6fdf4b512?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGNyZWF0aXZpdHl8ZW58MHx8MHx8&auto=format&fit=crop&w=700&q=60);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-size:20px;
}
.heading{
  text-align:center;
  padding-top:20px;
  color:white;
}
form{
  background-color:rgba(128, 128, 133,0.5);
  width:40%;
  height:auto;
  margin:auto;
  padding:40px 20px;
}
.forms{
  padding-top:10px;
  color:white;
}

label{
  display:block;
  padding-bottom:5px;
  padding-top:10px;
}
.inputs, #dropdown{
  width:100%;
  height:30px;
}
textarea{
  width:100%;
  height:170px;
}
#submit{
  width:100%;
  height:40px;
  color:215, 215, 193;
}
input[type=text]:focus {
  border: 0px;
}
